@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
}

:root {
    --bronze: #DAA510;
    --dourado: #FFCD13;
    --blue: #040243;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: "Lobster", serif;
    color: #DAA510;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #040243;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #DAA510;
    border-top: 4px solid #DAA510;
}

#botao {
    background: #040243;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #DAA510;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 50px;
    padding-top: 100px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #040243;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: #DAA510;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}



.img-headline {
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid pink; */
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", serif;
    font-weight: bold;
    color: #040243;

}

.servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5%;
}

.card {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FFCD13;
    border-radius: 10%;
    cursor: pointer;
}

.texto-oculto {
    display: none;
}

.card:hover {
    background: #DAA510;
    color: white;
    padding: 50px;
}

.card,
img {
    display: grid;
    justify-items: center;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #040243, #090422, black);
    text-align: center;
    border-top: 5px solid #FFCD13;
}

.logo-rodape {
    padding: 100px;
}

.agencia {
    font-family: "Lobster", serif;
    color: white;
    font-size: 34px;
}