@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
}

:root {
    --blue: #180F4A;
    --pink: #FF2978;
    --purple: #6965F8;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: "Lobster", serif;
    color: #180F4A;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #FF2978;
    border-top: 4px solid #180F4A;
    ;
}

#botao {
    background: #180F4A;
    ;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #FF2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 50px;
    padding-top: 100px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    color: #180F4A;
}


.img-headline,
img {
    max-width: 100%;
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", serif;
    font-weight: bold;
    color: #180F4A;

}

.servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5%;
}

.card {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #6965F8;
    border-radius: 10%;
    cursor: pointer;
}

.texto-oculto {
    display: none;
}

.card:hover {
    background: #6965F8;
    color: white;
    padding: 50px;
}

.card,
img {
    display: grid;
    justify-items: center;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

footer {

    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #040243, #090422, black);
    text-align: center;
    border-top: 5px solid #6965F8;
}

.logo-rodape {
    padding: 100px;

}

.agencia {
    font-family: "Lobster", serif;
    color: white;
    font-size: 34px;
}